name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        haxe-version: [4.2.5]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Haxe environment
        uses: krdlab/setup-haxe@v1.5.1
        with:
          haxe-version: ${{ matrix.haxe-version }}

      - name: Install testing framework
        run: haxelib install buddy

      - name: Install datetime for gigasecond
        run: haxelib install datetime

      - name: Install formatting tool
        run: haxelib install formatter

      - name: Compile test
        run: bin/build.sh